{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero-image">
    <img src="../../../media/sam and heather.jpg" alt="Personal trainers Sam and Heather" class="LargeScreenPicture">
    <img src="../../../media/sam and heather 2.jpg" alt="Personal trainers Sam and Heather" class="SmallScreenPicture">
    <p class="slogan">FEEL STRONG, HEALTHY, EMPOWERED & BETTER TOGETHER!
    </p>
</div>
<section>
    <div class="row container-fluid sectionRow">
        <div class="col-sm-6 sectionCol">
            <p class="together">TOGETHER WE ARE BETTER TOGETHER!</p>
            <a href="https://www.instagram.com/better_togetherfitness/" target="_blank"><button class="JoinUsToday">JOIN US TODAY!</button></a>
            <div>
                <img src="../../../media/bt-logo-blue.png" alt="Better Together Fitness logo blue" class="bluelogo">
            </div>
        </div>
        <div class="col-sm-6 sectionCol2">
            <p class="whatToExpect">WHAT TO EXPECT:</p>
            <ul>
                <li class="listItem">
                    24/7 UNLIMITED ACCESS & SUPPORT
                </li>
                <li class="listItem">
                    LIVE WORKOUTS INSTRUCTED BY HEATHER & SAM
                </li>
                <li class="listItem">
                    RECIPES TO SUIT ALL DIETARY REQUIREMENTS
                </li>
                <li class="listItem">
                    ACCOUNTABLITY TRACKER TO HELP STAY MOTIVATED
                </li>
                <li class="listItem">
                    SESSIONS RANGING FROM 30-45 MINUTES
                </li>
                <li class="listItem">
                    NO EQUIPMENT NEEDED (the most you need is a set of dumbbells & a resistanceband)
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="row container-fluid sectionRow">
        <div class="col-sm-6 ">
            <img src="../../../media/multiTablet.png" alt="image of tablet view for app" class="tabletImage">
        </div>
        <div class="col-sm-6 ">
            <div class="row container-fluid sectionRow JoinOurCom">
                <p>Join our community - it's better together!</p>
            </div>
            <div class="row container-fluid sectionRow options">
                <p>See below for our options!</p>
            </div>
        </div>
    </div>
    <!--
    <div class="row container-fluid sectionRow JoinOurCom">
        <p>Join our community - it's better together!</p>
    </div>
    <div class="row container-fluid sectionRow options">
        <p>See below for our options!</p>
    </div>
-->
    <div class="row sectionRow">
        <div class="col-lg-3 col-md-6 subCard">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente eveniet labore itaque. Rerum
            reiciendis ea, neque tenetur veritatis quae maiores, voluptas doloremque expedita nesciunt, quibusdam autem
            ab voluptate fugit?
        </div>
        <div class="col-lg-3 col-md-6 subCard">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto impedit recusandae commodi est distinctio
            sunt ipsum cum tempore hic debitis necessitatibus quod aperiam ea, perspiciatis ad quaerat saepe deserunt
            at.
        </div>
        <div class="col-lg-3 col-md-6 subCard">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quam eum necessitatibus. Suscipit quisquam
            unde repellendus molestias, similique nesciunt iste mollitia earum, eum saepe cumque deleniti praesentium
            illum iusto doloribus.
        </div>
        <div class="col-lg-3 col-md-6 subCard">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ex alias repellendus maiores iusto amet
            voluptatum temporibus nemo nihil est culpa atque, omnis optio doloremque, illo id reiciendis pariatur sunt.
        </div>
    </div>

</section>
{% endblock %}