{% extends 'base.html' %} 
{% load static %}


{% block content %}

<div class="row container-fluid sectionRow">
    <p class="guides">Merchandise</p>
    <p class="aboutGuides">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, assumenda! Tempora eum
        fugiat saepe debitis temporibus nisi officia voluptate. Provident, culpa ipsam facere nemo repellat nisi id
        magnam recusandae alias?</p>
        <!-- search for merchandise page.-->
        <form method="GET" action="{% url 'merch' %}" class="d-block m-auto">
          <div class="input-group w-100">
              <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our merch...">
              <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                      <span class="icon">
                          <i class="fas fa-search"></i>
                      </span>
                  </button>
              </div>
          </div>
      </form>
</div>


<div class="row container-fluid sectionRow">
    {% for M in merch %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5 mt-3">
    <div class="card h-100 border-0 ">
        <a href="{% url 'merch_detail' M.id %}" class="h-100"> 
        <img src="{{ M.image.url }}" class="card-img-top" alt="{{ M.image_url }}">
    </a>
        <div class="card-body">
          <h5 class="card-title">{{ M.name }}</h5>
          <p class="card-text">${{ M.price }}</p>
        </div>
      </div>
    </div>
      {% endfor %}
</div>


   


{% endblock %}